table, td {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
}
table a {
    text-decoration: none;
}
table {
    width: 100%;
}
table td span {
    color:rgb(0, 129, 250);
}
#header {
    position: relative;
}
#header img , .content img, .list-content img{
    position: relative;
    object-fit: cover;
    width: 15%;
    height: 100px;
}
#header img:nth-child(1){
    float:left;
}
#header img:nth-child(1){
    float:right;
}
#header span:nth-child(1) {
    font-size: 60px;
}
#header span:nth-child(2) {
    font-size: 45px;
}
#header span:nth-child(3) {
    font-size: 30px;
}
#header a {
    color:rgb(26, 89, 184);
    font-weight: 600;
    position: absolute;
    left: 25%;
}
#sidebar {
    position: relative;
    width: 20%;
    text-decoration: underline;
    vertical-align: top;
}
#sidebar ul li {
    padding: 6px 0;
}
.title-heading {
    background-color: rgb(26, 89, 184);
}
.title-heading a {
    color: #FFF;
}
.scrollTop {
    float: right;
    text-decoration: underline;
    background-color: rgb(163, 163, 163);
    padding: 2px 2px;
}
.content, .list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content p {
    margin: 0;
    padding: 0 5px;
    text-align: left;
}
.list-content img {
    float: right;
    object-fit: cover;
    width: 100px;
    height: 100px;
}